@model OnlineShoppingMartWeb.Models.RegistrationViewModel
<style>
    .validEmail
    {
        border-color: #25bc32;
        padding-right: calc(1.5em + 0.75rem);
        background: white url("/assets/img/valid.svg") right center no-repeat;
        background-position: center right calc(0.375em + 0.1875rem);
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    }

    .invalidEmail
    {
        border-color: #dc3545;
        padding-right: calc(1.5em + 0.75rem);
        background: white url("/assets/img/invalid.svg") right center no-repeat;
        background-repeat: no-repeat;
        background-position: center right calc(0.375em + 0.1875rem);
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    }
    
</style>

<div class="col-md-5 ml-md-auto ml-xl-0 mr-xl-auto">
    <!-- Title -->
    <div class="border-bottom border-color-1 mb-6">
        <h3 class="d-inline-block section-title mb-0 pb-2 font-size-26">Register</h3>
    </div>
    <div id="invalid-email-error" class="invalid-feedback" style="display: none;">Your email is already registered with us. Please try different email address</div>
    <p class="text-gray-90 mb-4">Create new account today to reap the benefits of a personalized shopping experience.</p>
    <!-- End Title -->
    <!-- Form Group -->
    @* <form class="js-validate" novalidate="novalidate"> *@
    @using (@Html.BeginForm("SignUp", "User"))
           {
        <div class="js-form-message form-group mb-5">
            <label class="form-label" for="RegisterSrEmailExample3">
                Email address
                <span class="text-danger">*</span>
            </label>
            @Html.TextBoxFor(val => val.Email,new {@class="form-control",@placeholder="Email address"})
            @Html.ValidationMessageFor(model=>model.Email)
            @* <input type="email" class="form-control" name="email" id="RegisterSrEmailExample3" placeholder="Email address" aria-label="Email address" required="" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success"> *@
        </div>
        <div class="js-form-message form-group mb-5">
            <label class="form-label" for="RegisterSrEmailExample3">
                Password
                <span class="text-danger">*</span>
            </label>
            @Html.PasswordFor(model=>model.Password,new {@class="form-control",@placeholder="Password"})
            @Html.ValidationMessageFor(model=>model.Password)
            @* <input type="email" class="form-control" name="email" id="RegisterSrEmailExample3" placeholder="Email address" aria-label="Email address" required="" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success"> *@
        </div>
        <div class="js-form-message form-group mb-5">
            <label class="form-label" for="RegisterSrEmailExample3">
                Confirm Password
                <span class="text-danger">*</span>
            </label>
            @Html.PasswordFor(model=>model.ConfirmPassword,new {@class="form-control",@placeholder="Confirm Password"})
            @Html.ValidationMessageFor(model=>model.ConfirmPassword)
            @* <input type="email" class="form-control" name="email" id="RegisterSrEmailExample3" placeholder="Email address" aria-label="Email address" required="" data-msg="Please enter a valid email address." data-error-class="u-has-error" data-success-class="u-has-success"> *@
        </div>
        <!-- End Form Group -->
        <p class="text-gray-90 mb-4">Your personal data will be used to support your experience throughout this website, to manage your account, and for other purposes described in our <a href="#" class="text-blue">privacy policy.</a></p>
        <!-- Button -->
        <div class="mb-6">
            <div class="mb-3">
                <button type="submit" id="register" class="btn btn-primary-dark-w px-5">Register</button>
            </div>
        </div>
        <!-- End Button -->
        }
  @*   </form> *@
    <h3 class="font-size-18 mb-3">Sign up today and you will be able to :</h3>
    <ul class="list-group list-group-borderless">
        <li class="list-group-item px-0"><i class="fas fa-check mr-2 text-green font-size-16"></i> Speed your way through checkout</li>
        <li class="list-group-item px-0"><i class="fas fa-check mr-2 text-green font-size-16"></i> Track your orders easily</li>
        <li class="list-group-item px-0"><i class="fas fa-check mr-2 text-green font-size-16"></i> Keep a record of all your purchases</li>
    </ul>
</div>