﻿@{
    ViewData["Title"] = "Cart";
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using OnlineShoppingMartWeb.Utility;

@{
    var products = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<List<ProductDetailViewModel>>("ProductDetail");
}

<main id="content" role="main" class="cart-page">
    <!-- breadcrumb -->
    <div class="bg-gray-13 bg-md-transparent">
        <div class="container">
            <!-- breadcrumb -->
            <div class="my-md-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-3 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
                        <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="../home/index.html">Home</a></li>
                        <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1 active" aria-current="page">Cart</li>
                    </ol>
                </nav>
            </div>
            <!-- End breadcrumb -->
        </div>
    </div>
    <!-- End breadcrumb -->

    <div class="container">
        <div class="mb-4">
            <h1 class="text-center">Cart</h1>
        </div>
        @if(products !=null && products.Count > 0)
        {
            <div class="mb-10 cart-table">
                @* <form class="mb-4" action="#" method="post">*@
                <table class="table" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="product-remove">&nbsp;</th>
                            <th class="product-thumbnail">&nbsp;</th>
                            <th class="product-name">Product</th>
                            <th class="product-price">Price</th>
                            <th class="product-quantity w-lg-15">Quantity</th>
                            <th class="product-subtotal">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            decimal subtotal = 0;
                          }
                          @foreach(var product in products)
                          {
                            @using (Html.BeginForm("Cart", "Product", FormMethod.Post, new { @class = @product.ProductId }))
                            {
                                <input type="hidden" name="productId" value="@product.ProductId" />
                                <tr class="">
                                    <td class="text-center">
                                        <a href="#" id="@product.ProductId" class="text-gray-32 font-size-26 remove-cart">×</a>
                                    </td>
                                    <td class="d-none d-md-table-cell">
                                        @if (@product.ProductImages.ContainsKey("300X300"))
                                        {
                                            <a href="#"><img class="img-fluid max-width-100 p-1 border border-color-1" src="~/assets/img/300X300/@product.ProductImages["300X300"][0]" alt="Image Description"></a>
                                        }
                                    </td>

                                    <td data-title="Product">
                                        <a href="#" class="text-gray-90">@product.ProductName</a>
                                    </td>

                                    <td data-title="Price">
                                        <span class="">$ @product.ProductPrice.ToString("N2")</span>
                                    </td>

                                    <td data-title="Quantity">
                                        <span class="sr-only">Quantity</span>
                                        <!-- Quantity -->
                                        <div>
                                            @if (@product.ProductCount > 0)
                                            {
                                                <select id="ddlProductCount" name="ddlProductCount">
                                                    <option value="1" selected="@product.SelectedProductQuantity.Equals("1")">1</option>
                                                    @if (@product.ProductCount > 1)
                                                    {
                                                        <option value="2" selected="@product.SelectedProductQuantity.Equals("2")">2</option>
                                                    }
                                                </select>
                                            }
                                        </div>
                                        <!-- End Quantity -->
                                    </td>
                                    @{
                                        var total = (@product.ProductPrice + @product.Tax) * Convert.ToInt32(product.SelectedProductQuantity);
                                        subtotal = subtotal + total;
                                    }
                                    <td data-title="Total">
                                        <span class="">$@total.ToString("N2")</span>
                                    </td>
                                </tr>
                            }
                          }
                            <tr>
                                    <td colspan="6" class="border-top space-top-2 justify-content-center">
                                        <div class="pt-md-3">
                                            <div class="d-block d-md-flex flex-center-between">
                                                <div class="mb-3 mb-md-0 w-xl-40">
                                                    <div class="border-bottom border-color-1 mb-3">
                                                        <h3 class="d-inline-block section-title mb-0 pb-2 font-size-26">Cart totals</h3>
                                                    </div>
                                                    <table class="table mb-3 mb-md-0">
                                                        <tbody>
                                                            <tr class="cart-subtotal">
                                                                <th>Subtotal</th>
                                                                <td data-title="Subtotal"><span class="amount">$@subtotal.ToString("N2")</span></td>
                                                            </tr>
                                                            <tr class="shipping">
                                                                <th>Shipping</th>
                                                                <td data-title="Shipping">
                                                                    Flat Rate: <span class="amount">$@Configuration.ShippingCharge.ToString("N2")</span>
                                                                </td>
                                                            </tr>
                                                            <tr class="order-total">
                                                                <th>Total</th>
                                                                @{
                                                                    var totalCost = @subtotal + @Configuration.ShippingCharge;
                                                                }
                                                                <td data-title="Total"><strong><span class="amount">$@totalCost.ToString("N2")</span></strong></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                                <div class="d-md-flex">
                                                    @Html.ActionLink("Proceed to checkout","Checkout","Order",null,new {@class="btn btn-primary-dark-w ml-md-2 px-5 px-md-4 px-lg-5 w-100 w-md-auto d-none d-md-inline-block"})
                                                    @* <a href="../shop/checkout.html" class="btn btn-primary-dark-w ml-md-2 px-5 px-md-4 px-lg-5 w-100 w-md-auto d-none d-md-inline-block">Proceed to checkout</a> *@
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                                </table>

                                @*</form>*@
                                </div>
            }
        else
            {
                    <div><h3>Sorry, You donot added any product in your cart.</h3> </div>
            }
    </div>
</main>